
.container{
    width: 30rem;
    /* margin: ; */
}

.scrollarea{
    min-height: 70vh;
    background: rgb(95, 7, 95);
    overflow-y: auto;
    height: 380px;
    

}
.lh-tight{
    background-color:rgb(206, 125, 206) ;
    border-radius: 10px;
    width : 70% ; 
    height: auto;
    margin: 10px;

}

.input{
    width: 100%;
    background-color: rgb(233, 198, 233);
    border: none;
    text-align: left;
}

.msg{
    width: 100%;
}

.send-btn textarea{
    min-height: 300px;
    height: 200px !important;
}

hr{
    margin: 0 5px ;
}

form input{
    background-color: rgb(233, 198, 233);
    height: 100px;
}